<aside class="sidebar">
    <nav class="sidebar__nav">
        <ul>
            <li><a href="{{ path('admin.dashboard') }}" class="active">Tableau de bord</a></li>
            <li><a href="{{ path('admin.articles') }}">Articles</a></li>
            <li><a href="{{ path('admin.categories.index') }}">Catégories</a>
            <li><a href="{{ path('admin.tags.index') }}">Tags</a></li>
        </ul>
    </nav>
</aside>