@use "../abstracts/variables" as var
@use "../abstracts/functions" as fct

.article-page
    width: 90%
    max-width: 70%
    margin: fct.rem(40) auto
    padding: 1rem

    article
        margin-bottom: 3rem

        h2
            font-size: 1.8rem
            margin-bottom: 0.5rem

        h3
            font-size: 1.2rem
            color: #666
            margin-bottom: 1rem

    .article-content
        line-height: 1.6
        margin-bottom: 1rem

        p
            margin-bottom: 1rem

        h3
            margin-top: 2rem
            font-size: 1.4rem

        p
            font-style: italic
            font-size: 0.9rem

    .comments-section
        border-top: 1px solid #ccc
        padding-top: 2rem

        h3
            font-size: 1.4rem
            margin-bottom: 1rem

        .comment
            background-color: #f5f5f5
            border: 1px solid #ddd
            border-radius: 5px
            padding: 1rem
            margin-bottom: 1rem

            p
                margin-bottom: 0.5rem

            small
                display: block
                font-size: 0.8rem
                color: #666

            form
                margin-top: 0.5rem

                button
                    display: flex
                    flex-direction: column

                    a.button--dark-green, form
                        margin-bottom: 10px  // Un petit espace entre les éléments

        .comment-separator
            margin: 2rem 0
            border: none
            border-top: 2px dashed #ccc

        .add-comment-form
            margin-top: 2rem
            padding-top: 1rem

@media (min-width: 768px)  // Quand l'écran atteint une taille 'md' et plus
    .comment-buttons
        flex-direction: row
        justify-content: space-between
        align-items: center