{% extends 'base.html.twig' %}

{% block title %}Mentions légales{% endblock %}

{% block body %}
<h1>Mentions légales</h1>
<p>Voici les mentions légales de notre site. (Compléter selon les exigences légales)</p>
{% endblock %}
