{% extends 'base.html.twig' %}

{% block title %}Politique de confidentialité{% endblock %}

{% block body %}
<h1>Politique de confidentialité</h1>
<p>Voici notre politique de confidentialité. (Compléter avec les informations sur la gestion des données personnelles)</p>
{% endblock %}
