@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Young+Serif&display=swap');


/* PARALLAX EFFECT */
.parallax {
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  z-index: -1; /* Passe encore plus bas que les sections */
}

.parallax-1 {
  background-image: url('https://via.placeholder.com/1200x800');
}

.parallax-2 {
  background-image: url('https://via.placeholder.com/1200x800');
}

.parallax-3 {
  background-image: url('https://via.placeholder.com/1200x800');
}

.parallax-4 {
  background-image: url('https://via.placeholder.com/1200x800');
}

/* Sections */
section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* SECTION 3 - EXPERIENCE */

/* Section Expérience */
.exp-section {
  padding: 4rem 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.exp-section h1 {
  font-size: 2.5rem;
  color: #2b4743;
  margin-bottom: 20px;
}

.experience {
  display: flex;
  flex-direction: column;
  gap: 2rem; /* Ajoute un espace constant entre les blocs */
  align-items: stretch; /* Assure que les blocs aient la même largeur */
}


/* TIMELINE*/
.infos, .other-exp {
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.infos1 {
  position: relative;
}

.infos2 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.infos h2, .other-exp h2 {
  margin-bottom: 1rem;
  font-size: 1.8rem;
}

.infos1::before {
  content: '';
  position: absolute;
  left: 20px;
  top: 0;
  bottom: 0;
  width: 4px;
  background: #38d6c2;
}

/* Timeline Item */
.timeline-item {
  position: relative;
}

.timeline-item:last-child {
  margin-bottom: 0;
}

.timeline-content {
  position: relative;
  padding: 1.5rem 2rem;
  border-radius: 10px;
  text-align: start;
}

.timeline-content h3 {
  font-size: 1.2rem;
  color: #2b4743;

}

.timeline-content .timeline-date {
  font-size: 0.9rem;
  color: #888888;
  margin-bottom: 0.5rem;
  display: block;
}

.timeline-content p {
  color: #555555;
  font-size: 1rem;
}

/* Timeline Point */
.timeline-item::before {
  content: '';
  position: absolute;
  left: -20px;
  top: 30px;
  width: 15px;
  height: 15px;
  background: #38d6c2;
  border-radius: 50%;
  border: 3px solid #efe4d5;
  box-shadow: 0 0 0 2px #38d6c2;
}

/* Section des diplômes */

/* Grille des diplômes */
.diploma-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem; /* Espacement entre les cartes */
  margin-top: 0.8 rem;
}

/* Cartes des diplômes */
.diploma-card {
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
}

/* Icônes */
.diploma-card i {
  font-size: 1.5rem; /* Taille des icônes pour mobile */
  color: #38d6c2;
  margin-bottom: 1rem;
}

/* Titres des diplômes */
.diploma-card h3 {
  font-size: 1.2rem; /* Taille adaptée au mobile */
  color: #2b4743;
  margin-bottom: 0.5rem;
}


.diploma-card .date, .diploma-card p {
  display: none; /* Masquez le texte par défaut */
}

/* Dates */
.diploma-card .date {
  font-size: 0.9rem;
  color: #888888;
  margin-bottom: 1rem;
}

/* Descriptions */
.diploma-card p {
  color: #555555;
  font-size: 1rem;
}

.diploma-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.diploma-card:hover .date, .diploma-card:hover p {
  display: block; /* Affichez le texte au survol */
}

/* section Autres */
.other-exp {
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 100%;
}

.other-skills {
  display: flex;
  flex-direction: column; /* Par défaut (mobile-first), empile les sections */
  gap: 2rem; /* Ajoute un espace entre les sections */
}

/* Langues Étrangères */

.language {
  margin-bottom: 1.5rem;
}

.language span {
  font-size: 1.2rem;
  font-weight: bold;
  color: #2b4743;
}

.progress-bar {
  width: 100%;
  height: 10px;
  background: #e3e3e3;
  border-radius: 5px;
  overflow: hidden;
  margin: 0.5rem 0;
}

.progress {
  height: 10px;
  background: #38d6c2;
  border-radius: 5px;
  transition: width 0.3s ease;
}

.language p {
  font-size: 0.9rem;
  color: #555555;
}

/* Soft Skills */
.soft-skills h3 {
  font-size: 1rem;
  color: #2b4743;
  text-decoration: underline;
  margin-bottom: 1.5rem;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1.5rem;
}

.skill-card {
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(67, 93, 61, 0.561);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skill-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.skill-card i {
  font-size: 2rem;
  color: #38d6c2;
  margin-bottom: 1rem;
}

.skill-card h4 {
  font-size: 1rem;
  color: #2b4743;
}


/* SECTION 4 - FORMULAIRE DE CONTACT */
.contact-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

form{
  text-align: center;
  border-radius: 12px;
  padding: 30px;
  color: #2b4743;
  border: 2px solid #2b4743;
}

form h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #2b4743;
}

form p {
  margin-bottom: 20px;
}

form .separation {
  width: 100%;
  height: 1px;
  background-color: #38d6c2;
  margin-bottom: 20px;
}

form .formulaire {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

form .formulaire .groupe {
  margin-top: 20px;
  text-align: start;
}


form .formulaire .gauche .groupe input {
  margin-top: 5px;
  padding: 10px 5px 10px 10px;
  border: 1px solid #2b4743;
  border-radius: 8px;
  width: 100%;
  outline-color: #38d6c2;
}

form .formulaire .droite .groupe textarea{
  margin-top: 5px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #2b4743;
  outline-color: #38d6c2;
  resize: none;
  width: 100%;
}

form .formulaire .droite .groupe input {
  margin-top: 5px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #2b4743;
  outline-color: #38d6c2;
  resize: none;
  width: 100%;
}

/* FORMAT DESKTOP ET TABLETTE */
@media (min-width: 768px) {
  /* ACCUEIL */
  main {
    margin-top: 100px;
  }

  .image-container .centered-text {
    font-size: 1.5rem; /* Taille légèrement réduite pour les tablettes */
  }

  .image-container .centered-text h1{
    font-size: 2rem; /* Taille du texte */
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3); /* Ajoute un eff
    et d'ombre pour le contraste */
  }

  .button-container {
    display: flex;
    flex-direction: row; /* Par défaut en colonne */
    gap: 20px; /* Réduit l’espace */
  }

  /* COMPETENCES POUR TABLET ET PLUS */
  .skills {
    display: flex;
    flex-wrap: wrap;
  }
  
  .skills .skill-item {
    flex: 1;
    min-width: 22%;
    margin: 10px;
  }

    /* EXPERIENCE POUR TABLET ET PLUS  */
    .experience {
      flex-direction: row; /* Aligne les blocs côte à côte */
      justify-content: space-between; /* Distribution équitable */
      flex-wrap: wrap;
      align-items: flex-start; /* Les blocs s'alignent en haut sur les écrans larges */
    }
  
    .experience .infos,
    .experience .infos2 {
      flex: 1; /* Les deux sections occupent la même largeur */
      margin: 10px; /* Ajoute de l'espace entre les sections */
      max-width: calc(50% - 1rem); /* Compense l'espace entre les deux sections */
    }

    .other-skills {
      flex-direction: row;
      gap: 2rem;
    }

  .diploma-grid {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Plusieurs colonnes */
  }

  .diploma-card i {
    font-size: 3rem; /* Augmente la taille des icônes */
  }

  .diploma-card h3 {
    font-size: 1.2rem; /* Augmente la taille des titres */
  }

    /* FORMULAIRE POUR TABLET ET PLUS */
  form .formulaire .gauche {
    margin-top: 20px;
    width: 40%;
  }
  
  form .formulaire .droite {
    margin-left: 60px;
    margin-top: 20px;
    width: 40%;
  }


}

