/* HEADER */
/* barre de navigation */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  height: 60px;
  position: relative;
  z-index: 1000; /* S'assurer qu'elle reste au-dessus du contenu */
}

.header__logo {
  height: 50px;
}

.header__burger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25px;
  height: 20px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1001; /* Assurer qu'il reste au-dessus */
}

/* Menu burger */
.header__burger span {
  display: block;
  height: 3px;
  width: 100%;
  background: #2b4743;
  border-radius: 3px;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

/* Icône burger animée */
.header__burger.active span:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
}
.header__burger.active span:nth-child(2) {
  opacity: 0;
}
.header__burger.active span:nth-child(3) {
  transform: translateY(-7px) rotate(-45deg);
}

/* Menu de navigation en mobile (caché par défaut) */
.header__nav {
  display: none;
  position: absolute;
  border: #2b4743 solid 1px;
  top: 60px;
  left: 0;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0;
  transition: transform 0.3s ease-in-out;
}

.header__list-links {
  list-style-type: none;
}

/* Affichage du menu lorsque ouvert */
.header__nav.open {
  display: flex;
}

/* Liens du menu */
.header__nav a {
  color: #2b4743;
  text-decoration: none;
  font-size: 1.2rem;
  transition: color 0.3s ease;
}


/* Hover effect for links */
.header__nav a:hover {
  color: #38d6c2; /* Couleur au survol */
  font-weight: bold;
}


/* Lorsque le menu est ouvert: affichage du bouton de fermeture */
.header__nav.open .close-btn  {
  display: block; /* S'affiche seulement quand le menu est ouvert */
  background-color: #2b4743;
}

/* FORMAT DESKTOP ET TABLETTE */
@media screen and (min-width: 600px) {
  .header {
    box-shadow: 0px 4px 10px #2b474362;
  }

  .header__burger {
    display: none;
  }

  .header__nav {
    display: flex;
    position: static;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
    background: none;
    box-shadow: none;
    border: none;
  }

  .header__list-links {
    display: flex;
    gap: 2rem;
    list-style-type: none;
  }

  .header__nav a {
    font-size: 1rem;
    padding: 0;
  }

  /* Masquer la croix en desktop */
  .close-btn {
    display: none;
  }
}
