@use "../abstracts/variables" as var

*,
*::before,
*::after
  margin: 0
  padding: 0
  box-sizing: border-box
    
body
    background-color: var.$background-color
    font-family: var.$font-family
    color: var.$text-color
    font-weight: 500
    font-size: var.$font-size-p

h1, h2, h3, h4
    font-weight: bold

a
    text-decoration: none
    color: inherit