<p>Bonjour {{ comment.username }},</p>

<p>Merci pour votre commentaire. Pour le publier, veuillez cliquer sur le lien ci-dessous :</p>

<p><a href="{{ validationUrl }}">Valider mon commentaire</a></p>

<p>À bientôt sur notre site !</p>
