{% extends 'base.html.twig' %}

{% block body %}
   <div class="container">
      <h2>Ajouter un article</h2>

      {{ form_row(form.title) }}

      {{ form_row(form.slug) }}
  
      {{ form_row(form.content) }}

   </div>

{% endblock %}